@import '../../styles/variables';

.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.6rem;
    width: 100%;
    margin-bottom: 4.9rem;

    .buttons__content {
        font-size: 1.12rem;
        font-weight: 500;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
    }

    .buttons__content--secondary {
        background-color: transparent;
        color: $secondary-color;
        width: 45px;
    }
}